@use "vars.scss" as styles;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 6px 4px;
  border: 1px solid gray;
  border-radius: 4px;
  outline: none;
  transition: 0.15s;
  background: rgba(black, 0.025);
  width: fit-content;

  &:focus {
    border-color: styles.$blue;
    background: white;
  }
}

button {
  $bg: rgba(styles.$blue, 0.75);

  padding: 8px 14px;
  background: $bg;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.15s;

  &:hover {
    background: darken($bg, 10%);
  }
}

.controls {
  display: flex;
  gap: 8px;
  width: fit-content;
}

.dequeue-button {
  $bg: rgba(styles.$red, 0.75);

  background: $bg;

  &:hover {
    background: darken($bg, 10%);
  }
}
